<div class="row well">
  <form>
    <div class="form-group">
      <label for="text">Send a Tweet</label>
      {{input id="text" class="form-control" value=text}}
    </div>
  <button class="btn btn-block btn-primary" {{action 'sendTweet'}}>Send Tweet</button>
  </form>
</div>
