<div class="text-center">
<h1>Kinda Twitter</h1>

  {{#if isTweeting}}
    {{outlet}}
    {{else}}
  <a href="#" {{action 'clickSend'}}>New Tweet</a>
  {{/if}}
</div>
<div class="row well">
  <ul>
    {{#each}}
    <li>{{text}}</li>
    {{/each}}
  </ul>
</div>
